[submodule "submodules/java-plugin"]
	path = submodules/java-plugin
	url = https://github.com/SonarSource/sonar-java.git
[submodule "submodules/sonarqube"]
	path = submodules/sonarqube
	url = https://github.com/SonarSource/sonarqube.git
[submodule "submodules/checkstyle-plugin"]
	path = submodules/checkstyle-plugin
	url = https://github.com/checkstyle/sonar-checkstyle.git
[submodule "submodules/findbugs-plugin"]
	path = submodules/findbugs-plugin
	url = https://github.com/spotbugs/sonar-findbugs.git
[submodule "submodules/pmd-plugin"]
	path = submodules/pmd-plugin
	url = https://github.com/jensgerdes/sonar-pmd.git
[submodule "submodules/javascript-plugin"]
	path = submodules/javascript-plugin
	url = https://github.com/SonarSource/SonarJS.git
[submodule "submodules/jdepend-plugin"]
	path = submodules/jdepend-plugin
	url = https://github.com/willemsrb/sonar-jdepend-plugin.git
[submodule "submodules/jproperties-plugin"]
	path = submodules/jproperties-plugin
	url = https://github.com/racodond/sonar-jproperties-plugin.git
[submodule "submodules/dependency-check-plugin"]
	path = submodules/dependency-check-plugin
	url = https://github.com/SonarSecurityCommunity/dependency-check-sonar-plugin.git
[submodule "submodules/issueresolver-plugin"]
	path = submodules/issueresolver-plugin
	url = https://github.com/willemsrb/sonar-issueresolver-plugin.git
[submodule "submodules/json-plugin"]
	path = submodules/json-plugin
	url = https://github.com/racodond/sonar-json-plugin.git
[submodule "submodules/yaml-plugin"]
	path = submodules/yaml-plugin
	url = https://github.com/sbaudoin/sonar-yaml.git
[submodule "submodules/ansible-plugin"]
	path = submodules/ansible-plugin
	url = https://github.com/sbaudoin/sonar-ansible.git
[submodule "submodules/shellcheck-plugin"]
	path = submodules/shellcheck-plugin
	url = https://github.com/sbaudoin/sonar-shellcheck.git
[submodule "submodules/typescript-plugin"]
	path = submodules/typescript-plugin
	url = https://github.com/SonarSource/SonarTS.git
[submodule "submodules/git-plugin"]
	path = submodules/git-plugin
	url = https://github.com/SonarSource/sonar-scm-git.git
[submodule "submodules/xml-plugin"]
	path = submodules/xml-plugin
	url = https://github.com/SonarSource/sonar-xml.git
[submodule "submodules/python-plugin"]
	path = submodules/python-plugin
	url = https://github.com/SonarSource/sonar-python.git
[submodule "submodules/css-plugin"]
	path = submodules/css-plugin
	url = https://github.com/SonarSource/sonar-css.git
[submodule "submodules/html-plugin"]
	path = submodules/html-plugin
	url = https://github.com/SonarSource/sonar-html.git
[submodule "submodules/php-plugin"]
	path = submodules/php-plugin
	url = https://github.com/SonarSource/sonar-php.git
[submodule "submodules/smell-plugin"]
	path = submodules/smell-plugin
	url = https://github.com/QualInsight/qualinsight-plugins-sonarqube-smell.git
[submodule "submodules/badges-plugin"]
	path = submodules/badges-plugin
	url = https://github.com/QualInsight/qualinsight-plugins-sonarqube-badges.git
[submodule "submodules/auth-github-plugin"]
	path = submodules/auth-github-plugin
	url = https://github.com/SonarSource/sonar-auth-github.git
[submodule "submodules/auth-bitbucket-plugin"]
	path = submodules/auth-bitbucket-plugin
	url = https://github.com/SonarSource/sonar-auth-bitbucket.git
[submodule "submodules/bitbucket-plugin"]
	path = submodules/bitbucket-plugin
	url = https://github.com/mibexsoftware/sonar-bitbucket-plugin.git
[submodule "submodules/auth-gitlab-plugin"]
	path = submodules/auth-gitlab-plugin
	url = https://github.com/gabrie-allaigre/sonar-auth-gitlab-plugin.git
[submodule "submodules/gitlab-plugin"]
	path = submodules/gitlab-plugin
	url = https://github.com/gabrie-allaigre/sonar-gitlab-plugin.git
[submodule "submodules/xanitizer-plugin"]
	path = submodules/xanitizer-plugin
	url = https://github.com/RIGS-IT/sonar-xanitizer.git
[submodule "submodules/groovy-plugin"]
	path = submodules/groovy-plugin
	url = https://github.com/Inform-Software/sonar-groovy.git
[submodule "submodules/stash-plugin"]
	path = submodules/stash-plugin
	url = https://github.com/AmadeusITGroup/sonar-stash.git
[submodule "submodules/branch-plugin"]
	path = submodules/branch-plugin
	url = https://github.com/mc1arke/sonarqube-community-branch-plugin.git
[submodule "submodules/build-breaker-plugin"]
	path = submodules/build-breaker-plugin
	url = https://github.com/adnovum/sonar-build-breaker.git
[submodule "submodules/jacoco-plugin"]
	path = submodules/jacoco-plugin
	url = https://github.com/SonarSource/sonar-jacoco.git
[submodule "submodules/kotlin-plugin"]
	path = submodules/kotlin-plugin
	url = https://github.com/SonarSource/sonar-kotlin.git
[submodule "submodules/iac-plugin"]
	path = submodules/iac-plugin
	url = https://github.com/SonarSource/sonar-iac.git
[submodule "submodules/config-plugin"]
	path = submodules/config-plugin
	url = https://github.com/SonarSource/sonar-config.git
[submodule "submodules/text-plugin"]
	path = submodules/text-plugin
	url = https://github.com/SonarSource/sonar-text.git
[submodule "submodules/mutation-plugin"]
	path = submodules/mutation-plugin
	url = https://github.com/devcon5io/mutation-analysis-plugin.git
