---
# handlers file for sonarqube
  - name: Restart Sonarqube
    systemd:
      name: sonarqube
      state: restarted
      daemon_reload: true
      enabled: true
    notify: Wait for Sonarqube
    become: true

  - name: Wait for Sonarqube
    uri:
      url: '{{ sonar_check_url }}/api/system/status'
      return_content: true
      validate_certs: false
    register: uri_result
    until: "'UP' in uri_result.content"
    retries: 60
    delay: 1
