---
# handlers file for sonarqube
  - name: Restart Sonarqube
    systemd:
      name: sonarqube
      state: restarted
      daemon_reload: True
      enabled: True
    notify: Wait for Sonarqube
    become: True

  - name: Wait for Sonarqube
    uri:
      url: 'https://{{ web.host }}:{{ web.port }}'
    register: uri_result
    until: uri_result is succeeded
    retries: 60
    delay: 1
