---
# handlers file for sonarqube
  - name: Restart Sonarqube
    systemd:
      name: sonarqube
      state: restarted
      daemon_reload: true
      enabled: true
    notify:
      - Wait for migrate DB
      - Migrate DB
      - Wait for Sonarqube
    become: true

  - name: Wait for migrate DB
    uri:
      url: '{{ sonar_check_url }}/api/system/status'
      return_content: true
      validate_certs: false
    register: uri_result
    until: "'DB_MIGRATION_NEEDED' in uri_result.content"
    retries: 40
    delay: 3
    when: sonar_migrate_db | bool

  - name: Migrate DB
    uri:
      url: '{{ sonar_check_url }}/api/system/migrate_db'
      method: POST
      validate_certs: false
      return_content: true
    when: sonar_migrate_db | bool

  - name: Wait
    block:
      - name: Wait for Sonarqube
        uri:
          url: '{{ sonar_check_url }}/api/system/status'
          return_content: true
          validate_certs: false
        register: uri_result
        until: "'UP' in uri_result.content"
        retries: 40
        delay: 3
    rescue:
      - name: Show logs
        debug: var=item
        with_file:
          - "{{ sonar_installation }}/logs/web.log"
          - "{{ sonar_installation }}/logs/sonar.log"
