upstream sonar {
    server {{ web.host }}:{{ web.port }};
}

server {
    server_name {{ sonar_proxy_server_name }};
{% if sonar_proxy_http %}
    listen {{ sonar_proxy_http_port }};
{% endif %}
{% if sonar_proxy_ssl %}
    listen {{ sonar_proxy_ssl_port }} ssl;

    ssl_certificate {{ sonar_proxy_ssl_cert_path }};
    ssl_certificate_key {{ sonar_proxy_ssl_key_path }};
{% endif %}

    location / {
      proxy_pass http://sonar;
    }

# temporarily disabled, doesn't work correctly on all systems
#
#    location ~* \.(css|gif|html|ico|jpeg|js|map|png|svg|txt|xml)$ {
#      root {{ sonar_installation }}/web;
#    }
    
    client_max_body_size {{ sonar_proxy_client_max_body_size }};
}
