upstream sonar {
    server {{ web.host }}:{{ web.port }};
}

server {
    server_name {{ sonar_proxy.server_name }};
{% if sonar_proxy.http %}
    listen {{ sonar_proxy.http_port }};
{% endif %}
{% if sonar_proxy.ssl %}
    listen {{ sonar_proxy.ssl_port }} ssl;

    ssl_certificate {{ sonar_proxy.ssl_cert_path }};
    ssl_certificate_key {{ sonar_proxy.ssl_key_path }};
{% endif %}

    location / {
      proxy_pass http://sonar;
    }

# temporarily disabled, doesn't work correctly on all systems
#
#    location ~* \.(css|gif|html|ico|jpeg|js|map|png|svg|txt|xml)$ {
#      root {{ sonar_installation }}web;
#    }
    
    client_max_body_size {{ sonar_proxy.client_max_body_size }};
}
