upstream sonar {
    server {{ web.host }}:{{ web.port }};
}

server {

    server_name {{ ansible_hostname }};
    listen {{ sonar_proxy.http.port }};

    location / {
      proxy_pass http://sonar;
    }

    # extensions list will be updated
    location ~* .(css|gif|html|ico|jpeg|js|map|png|svg|txt|xml)$ {
      root {{ sonar_installation }}web;
    }   
}
