upstream sonar {
    server {{ web.host }}:{{ web.port }};
}

server {

    server_name {{ ansible_hostname }};
    listen {{ sonar_proxy.https.port }} ssl;

    ssl_certificate {{ sonar_proxy.https.ssl_cert_path }};
    ssl_certificate_key {{ sonar_proxy.https.ssl_key_path }};

    location / {
      proxy_pass http://sonar;
    }

    # extensions list will be updated
    location ~* .(css|gif|html|ico|jpeg|js|map|png|svg|txt|xml)$ {
      root {{ sonar_installation }}web;
    }   
}
