# Web parameters
sonar.web.host={{ web.host }}
sonar.web.port={{ web.port }}
sonar.web.context={{ web.path }}

{% if sonar_db.type != 'H2' %}
# DB connections
sonar.jdbc.username={{ sonar_db.user }}
sonar.jdbc.password={{ sonar_db.password }}
sonar.jdbc.url=jdbc:{{ sonar_db.type }}://{{ sonar_db.host }}:{{ sonar_db.port }}/{{ sonar_db.name }}{{ sonar_db.options }}
{% endif %}

# Tuning
sonar.log.level={{ sonar_log_level }}
sonar.web.javaOpts={{ sonar_java_opts.web }}
sonar.search.javaOpts={{ sonar_java_opts.es }}
sonar.ce.javaOpts={{ sonar_java_opts.ce }}

# LDAP AUTH
{%- if (ldap is defined) %}
# General Configuration
sonar.security.realm=LDAP
sonar.authenticator.downcase={{ ldap.authenticator_downcase }}
ldap.url={{ ldap.url }}
ldap.bindDn={{ ldap.bind_dn }}
ldap.bindPassword={{ ldap.bind_password }}

# User Configuration
ldap.user.baseDn={{ ldap.user_base_dn }}
ldap.user.request={{ ldap.user_request }}
ldap.user.realNameAttribute={{ ldap.user_real_name_attribute }}
ldap.user.emailAttribute={{ ldap.user_email_attribute }}

# Group Configuration
ldap.group.baseDn={{ ldap.group_base_dn }}
ldap.group.request={{ ldap.group_request }}