[Unit]
Description=SonarQube Server
After=network.target network-online.target
Wants=network-online.target

[Service]
LimitNOFILE={{ sonar_nofile }}
LimitNPROC={{ sonar_nproc }}
WorkingDirectory={{ sonar_installation }}/bin/{{ '-'.join((ansible_system | lower, ansible_architecture | replace('_','-'))) }}
ExecStart={{ sonar_installation }}/bin/{{ '-'.join((ansible_system | lower, ansible_architecture | replace('_','-'))) }}/sonar.sh start
ExecStop={{ sonar_installation }}/bin/{{ '-'.join((ansible_system | lower, ansible_architecture | replace('_','-'))) }}/sonar.sh stop
ExecReload={{ sonar_installation }}/bin/{{ '-'.join((ansible_system | lower, ansible_architecture | replace('_','-'))) }}/sonar.sh restart
PIDFile={{ sonar_installation }}/bin/{{ '-'.join((ansible_system | lower, ansible_architecture | replace('_','-'))) }}/SonarQube.pid
Type=forking
User={{ sonar_user }}
StartLimitInterval=30

[Install]
WantedBy=multi-user.target
