---
name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install Ansible
        run: pip3 install ansible-base

      - name: Import role to Ansible Galaxy
        run: >
          sed -i "s/<your-api-token>/${{ secrets.GALAXY_API_KEY }}/" ansible.cfg
          ansible-galaxy role import
