# https://github.com/marketplace/actions/publish-ansible-role-to-galaxy

---
name: Publish Ansible Role

on:
  - push

#on:
#  push:
#    tags:
#      - "*"   # publish on any tag

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      SECRET: ${{ secrets.GALAXY_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: galaxy
        uses: robertdebock/galaxy-action@1.2.0
        with:
          galaxy_api_key: "$SECRET"
